[Desktop Entry]
Name=HTYMD
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYMD/HTYMD
Icon=/media/sonichy/job/HY/Linux/Qt/HTYMD/icon.svg
Path=/media/sonichy/job/HY/Linux/Qt/HTYMD
Terminal=false
Type=Application
MimeType=
Categories=